/* loto & oswald font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald&display=swap");
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/* -=-=-=-=-=-=-=-- header part -=-=-=-=-=-=-=-=-=- */

header {
  background-color: #f6f9f9;
  padding: 30px 0;
}
.strict-manu {
}
.strict-manu ul {
  display: flex;
  justify-content: end;
}
.strict-manu ul li a {
  display: block;
  padding: 0 27px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #454444;
}

/* -=-=-=-=-=-=-=-- banner part -=-=-=-=-=-=-=-=-=- */

.strict-banner {
  background: url("../image/Strict\ \(11\).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 205px 0 80px;
}
.strict-banner-top {
  color: #fff;
}
.strict-banner-top h1 {
  font-size: 120px;
  font-weight: 700;
  margin-bottom: 35px;
}
.strict-banner-top p {
  font-size: 20px;
  border-top: 2px solid #15a3f9;
  display: inline-block;
  padding: 35px 20px;
}
.strict-banner-bottom button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #15a3f9;
  padding: 10px 35px;
}
.strict-banner-bottom a {
  margin: 175px;
  display: block;
  color: #fff;
  font-size: 25x;
}

/* -=-=-=-=-=-=-=-- about section -=-=-=-=-=-=-=-=-=- */

.strict-about {
  background-color: #f6f9f9;
  padding: 85px 0;
}
.strict-title {
  text-align: center;
  margin-bottom: 30px;
}

.strict-title h2 {
  color: #2d3950;
  font-size: 40px;
  font-weight: bold;
}
.strick-title p {
  font-size: 15px;
  color: #090909;
}
.strict-about-text {
  color: #999999;
  font-size: 20px;
  text-align: center;
}
/* -=-=-=-=-=-=-=-- Service section -=-=-=-=-=-=-=-=-=- */

.strict-service {
  padding: 85px 0;
  background-color: #fff;
}
.strict-service-item {
}
.strict-service-icon {
  width: 70px;
  height: 70px;
  color: #fff;
  background: linear-gradient(90deg, #48baff 50%, #5fc3ff 50%);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}
.strict-service-text {
  text-align: center;
  padding: 0 20px;
}
.strict-service-text h4 {
  font-size: 22px;
  color: #2d3950;
}
.strict-service-text p {
  font-size: 15px;
  color: #999999;
}
/* -=-=-=-=-=-=-=-- Work section -=-=-=-=-=-=-=-=-=- */

.strick-work {
  background-color: #f6f9f9;
  padding: 85px 0;

}
.strict-work-img {
  position: relative;
  margin-bottom: 25px;
}
.strict-work-img img{
    width: 100%;
}
.strict-work-overly {
  background-color: rgba(21, 168, 250, 0.9);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: 0.4s;
}
.strict-work-overly:hover {
   
    opacity: 1;
  }
.strict-work-overly ul {
  display: flex;
}
.strict-work-overly ul li {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strict-work-overly ul li a {
  color: #fff;
}
