/* loto & oswald font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald&display=swap");
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}
img {
  width: 100%;
  height: auto;
}
ul {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/* -=-=-=-=-=-=-=-- header part -=-=-=-=-=-=-=-=-=- */

header {
  background-color: #f6f9f9;
  padding: 30px 0;
}
.strict-manu {
}
.strict-manu ul {
  display: flex;
  justify-content: end;
}
.strict-manu ul li a {
  display: block;
  padding: 0 27px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #454444;
}

/* -=-=-=-=-=-=-=-- banner part -=-=-=-=-=-=-=-=-=- */

.strict-banner{
    background: url("../image/Strict\ \(11\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 205px 0 80px;
}
.strict-banner-top{
    color: #fff;

}
.strict-banner-top h1{
    font-size: 120px;
    font-weight: 700;
    margin-bottom: 35px;
}
.strict-banner-top p{
    font-size: 20px;
    border-top: 2px solid #15a3f9;
    display: inline-block;
    padding: 35px 20px;
}
.strict-banner-button{}
.strict-banner-bottom button {
    background-color: transparent;
    color: #fff;
    border: 1px solid  #15a3f9;
    padding: 10px 35px;
}
.strict-banner-bottom a{
    margin: 175px;
}

